body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: lightblue;
}

.message, .error {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: blue;
  color: white;
}

.message {
  background-color: blue;
}

.error {
  background-color: red;
}

.round_item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
}

.course_item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
}

a.nounderline {
    text-decoration: none;
}