body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightblue;
}

.message,
.error {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: blue;
  color: white;
}

.message {
  background-color: blue;
}

.error {
  background-color: red;
}

.round_item {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.course_item {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}

a.nounderline,
a.nounderline_inherit_color {
  text-decoration: none;
}

a.nounderline_inherit_color {
  color: inherit;
}

.hidden {
  display: none;
}

input.result {
  padding: 15px 5px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
}

a.button_positive,
a.button_neutral,
a.button_negative,
button {
  border: 0;
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

button {
  padding: 0px 20px;
}

a.button_positive,
a.button_neutral,
a.button_negative {
  padding: 10px 20px;
  text-decoration: none;
}

a.button_positive:active,
a.button_neutral:active,
a.button_negative:active {
  box-shadow: inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

a.button_neutral,
button.neutral {
  background-color: rgb(23, 65, 202);
}

a.button_neutral:hover,
button.neutral:hover {
  background-color: rgb(0, 65, 255);
}

a.button_negative,
button.negative {
  background-color: red;
}

a.button_negative:hover,
button.negative:hover {
  background-color: tomato;
}

a.button_positive,
button.positive {
  background-color: rgb(38, 202, 23);
}

a.button_positive:hover,
button.positive:hover {
  background-color: rgb(86, 253, 122);
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
  display: block;
  overflow: auto;
  width: 100%;
  table-layout: fixed;
}

thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  height: 2.5em;
  width: 6em;
}

td {
  text-align: center;
}

td > a {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

td.eagle {
  background-color: rgb(0, 33, 160);
  color: rgb(162, 181, 255);
}

td.birdie {
  background-color: rgb(7, 160, 0);
  color: rgb(162, 255, 182);
}

td.bogey {
  background-color: rgb(160, 67, 0);
  color: rgb(255, 212, 162);
}

td.doublebogey {
  background-color: rgb(160, 0, 0);
  color: rgb(255, 162, 162);
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tbody > tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}

tbody.results > tr:nth-last-of-type(2) {
  border-top: 3px solid rgb(160 160 160);
}

tbody.results > tr > th {
  border-right: 3px solid rgb(160 160 160);
}

thead.results > tr > th:first-of-type {
  border-right: 3px solid rgb(160 160 160);
}

ul.nav {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  max-width: 50em;
  background-color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.nav {
  padding: 0px;
  width: 100%;
  height: 3em;
  background-color: rgb(3 33 43);
  color: white;
  text-align: center;
}

li.nav:nth-of-type(-n + 5) {
  margin-right: 0.1em;
}

li.nav:hover {
  background-color: rgb(7, 86, 112);
}

li.nav > a {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
