{# jinja kwargs have to be accessed at least once in any macro that should accept them. Means they are basically useless for this usecase. #}

{% macro link_with_text(link, text, arg_dict) -%}
  <a href="{{ link }}"
    {% if arg_dict %}
      {% for k, v in arg_dict.items() %}
        {{ k }}="{{ v }}"
      {% endfor %}
    {% endif %}
  >
    {{ text }}
  </a>
{%- endmacro %}

{% macro user_input(type, name, arg_dict) -%}
  {# name is placed as id as it appeared later in the course material and name and id were the same in the course material. Refactor if separate values are necessary #}
  <input type="{{ type }}"
         name="{{ name }}"
         id="{{ name }}"
         {% if arg_dict %}
          {% for k, v in arg_dict.items() %}
            {{ k }}="{{ v }}"
          {% endfor %}
         {% endif %}>
{%- endmacro %}

{% macro hidden_input(name, value) -%}
  <div class="hidden">{{ user_input("hidden", name, {"value":value}) }}</div>
{%- endmacro %}

{% macro csrf_token_input() -%}
  {{ hidden_input("csrf_token", session.csrf_token) }}
{%- endmacro %}

{% macro submit_button_with_text(text, arg_dict, name = "submit") -%}
  {% set arg_dict = dict(arg_dict, **{"value":text}) if arg_dict else {"value":text} -%}
  {{ user_input("submit", name, arg_dict) }}
{%- endmacro %}

{% macro submit_button_with_localized_text(text, arg_dict, name = "submit") -%}
  {{ submit_button_with_text(get_localization(text) , arg_dict, name) }}
{%- endmacro %}

{% macro formaction_button(text, action, name = "submit") -%}
  {{ submit_button_with_text(text, {"formaction":action}, name) }}
{%- endmacro %}

{% macro localized_formaction_button(text, action, name = "submit") -%}
  {{ submit_button_with_localized_text(text, {"formaction":action}, name) }}
{%- endmacro %}

{% macro user_input_with_header(headerkey, type, name, arg_dict) -%}
  {# name is placed as id as it appeared later in the course material and name and id were the same in the course material. Refactor if separate values are necessary #}
  <label for="{{ name }}">{{ get_localization(headerkey) }}</label>
  <br />
  {{ user_input(type, name, arg_dict) }}
{%- endmacro %}

{% macro inert_text_input(headerkey, name, value) -%}
  {{ user_input_with_header(headerkey, "text", name, {"value":value, "required":"", "inert":""}) }}
{%- endmacro %}

{% macro text_input(headerkey, type, name, minlength, maxlength, arg_dict) -%}
  {% set arg_dict = dict(arg_dict, **{"minlength":minlength,"maxlength":maxlength}) -%}
  {{ user_input_with_header(headerkey, type, name, arg_dict) }}
{%- endmacro %}

{% macro number_input(name, min, max, arg_dict) -%}
  {% set arg_dict = dict(arg_dict, **{"min":min,"max":max, "oninput":"this.value = Math.min('{}', Math.max(this.value|0, '{}'))".format(max, min)}) -%}
  {{ user_input("number", name, arg_dict) }}
{%- endmacro %}

{% macro number_input_with_header(headerkey, name, min, max, arg_dict) -%}
  {% set arg_dict = dict(arg_dict, **{"min":min,"max":max, "oninput":"this.value = Math.min('{}', Math.max(this.value|0, '{}'))".format(max, min)}) -%}
  {{ user_input_with_header(headerkey, "number", name, arg_dict) }}
{%- endmacro %}

{% macro date_input(headerkey, type, name, arg_dict) -%}
  {{ user_input_with_header(headerkey, type, name, arg_dict) }}
{%- endmacro %}

{% macro account_name_input() -%}
  {{ text_input("account_name_header", "text", "username", constants.username_minlength, constants.username_maxlength, {"required":""}) }}
{%- endmacro %}

{% macro course_name_input(value = "") -%}
  {{ text_input("course_name_header", "text", "coursename", constants.coursename_minlength, constants.coursename_maxlength, {"value":value, "required":""}) }}
{%- endmacro %}

{% macro amount_players_input(value=constants.round_min_players) -%}
  {{ number_input_with_header("amount_players_header", "num_players", constants.round_min_players, constants.round_max_players, {"required":"", "value":value}) }}
{%- endmacro %}

{% macro par_input(index, value) -%}
  {{ number_input_with_header("par_header", "par_{}".format(index) , constants.hole_par_min, constants.hole_par_max, {"required":"", "value":value}) }}
{%- endmacro %}

{% macro length_input(index, value) -%}
  {{ number_input_with_header("hole_length_header", "length_{}".format(index) , constants.hole_length_min, constants.hole_length_max, {"required":"", "value":value}) }}
{%- endmacro %}

{% macro par_input_default(index) -%}
  {{ par_input(index, constants.hole_par_default) }}
{%- endmacro %}

{% macro length_input_default(index) -%}
  {{ length_input(index, constants.hole_length_default) }}
{%- endmacro %}

{% macro course_holes_input(value = constants.course_holes_default) -%}
  {{ number_input_with_header("course_holes_header", "num_holes", constants.course_holes_min, constants.course_holes_max, {"required":"", "value":value}) }}
{%- endmacro %}

{% macro base_password_input(headerkey, name) -%}
  {{ text_input(headerkey, "password", name, constants.password_minlength, constants.password_maxlength, {"required":""}) }}
{%- endmacro %}

{% macro password_input() -%}
  {{ base_password_input('password_header', 'password') }}
{%- endmacro %}

{% macro repeat_password_input() -%}
  {{ base_password_input('repeat_password_header', 'repeat_password') }}
{%- endmacro %}

{% macro start_date_input(value, type, required, headerkey = "start_time_header") -%}
  {% set arg_dict = {"required":"", "value":value} if required else {"value":value} %}
  {{ date_input(headerkey, type, "start_time", arg_dict) }}
{%- endmacro %}

{% macro select(name, options, arg_dict) -%}
  {# name is placed as id as it appeared later in the course material and name and id were the same in the course material. Refactor if separate values are necessary #}
  <select name="{{ name }}"
          id="{{ name }}"
          {% for k, v in arg_dict.items() -%}
            {{ k }}="{{ v }}"
          {%- endfor %}>
    <option hidden selected value="{{ options[0][0] }}">{{ options[0][1] }}</option>
    {% for i in range(1, options|length) %}
      <option value="{{ options[i][0] }}">{{ options[i][1] }}</option>
    {% endfor %}
  </select>
{%- endmacro %}

{% macro select_with_header(headerkey, name, options, arg_dict) -%}
  <label for="{{ name }}">{{ get_localization(headerkey) }}</label>
  <br />
  {{ select(name, options, arg_dict) }}
{%- endmacro %}

{% macro inert_select(headerkey, name, selection) -%}
  {% set options = [("{},{}".format(selection[0], selection[1]), get_localization(selection[1]))] %}
  {{ select_with_header(headerkey, name, options, {"required":"", "inert":""}) }}
{%- endmacro %}

{% macro course_select(courses, required, headerkey = "select_course_header", defaultoption = ("", get_localization("course_select_default"))) -%}
  {% set options = [defaultoption] %}
  {% for course in courses %}
    {% set dummy = options.append((course["id"], course["coursename"])) %}
  {% endfor %}
  {% set arg_dict = {"required":""} if required else {} %}
  {{ select_with_header(headerkey, "course_select", options, arg_dict) }}
{%- endmacro %}

{#  The difference between the find select and the course select is in how the options are constructed.
    If we would like to share code, the sensible solution would be to have the child return the whole
    options construction. The only reasonable way to do this seems to be template inheritance, which means macros
    are not good option for this kind of use.
#}
{% macro find_course_select(courses, query) -%}
  {{ get_localization("find_by_course_name_header") }}
  <br />
  <select name="course_select">
    <option value="">{{ get_localization("course_select_default") }}</option>
    {% for course in courses %}
      {% if query == course.coursename %}
        <option selected value="{{ course.coursename }}">{{ course.coursename }}</option>
      {% else %}
        <option value="{{ course.coursename }}">{{ course.coursename }}</option>
      {% endif %}
    {% endfor %}
  </select>
{%- endmacro %}

{% macro select_from_option_tuple(name, headerkey, defaultoption, selection, required) -%}
  {% set options = [(defaultoption[0], get_localization(defaultoption[1]))] %}
  {% for s in selection %}
    {% set dummy = options.append(("{},{}".format(s[0], s[1]), get_localization(s[1]))) %}
  {% endfor %}
  {% set arg_dict = {"required":""} if required else {} %}
  {{ select_with_header(headerkey, name, options, arg_dict) }}
{%- endmacro %}

{% macro course_type_select(ctypes, required, defaultvalue=("","course_type_default")) -%}
  {{ select_from_option_tuple("type_select", "course_type_header", defaultvalue, ctypes, required) }}
{%- endmacro %}

{% macro course_difficulty_select(cds, required, defaultvalue=("","course_diff_default")) -%}
  {{ select_from_option_tuple("difficulty_select", "course_difficulty_header", defaultvalue, cds, required) }}
{%- endmacro %}

{% macro course_type_inert_select(selection) -%}
  {{ inert_select("course_type_header", "type_select", selection) }}
{%- endmacro %}

{% macro course_difficulty_inert_select(selection) -%}
  {{ inert_select("course_difficulty_header", "difficulty_select", selection) }}
{%- endmacro %}

{% macro return_to_index_link(arg_dict) -%}
  {{ link_with_text("/", get_localization("return_to_index_button"), arg_dict ) }}
{%- endmacro %}

{% macro edit_round_link(round_id) -%}
  {{ link_with_text("/edit_round/{}".format(round_id), get_localization("modify_button")) }}
{%- endmacro %}

{% macro delete_round_link(round_id) -%}
  {{ link_with_text("/delete_round/{}".format(round_id), get_localization("delete_button")) }}
{%- endmacro %}

{% macro new_course_link(arg_dict) -%}
  {{ link_with_text("/new_course", get_localization("create_course_button"), arg_dict ) }}
{%- endmacro %}

{% macro show_courses_link(arg_dict) -%}
  {{ link_with_text("/show_courses", get_localization("browse_courses_button"), arg_dict ) }}
{%- endmacro %}

{% macro new_round_link(arg_dict) -%}
  {{ link_with_text("/new_round", get_localization("create_round_button"), arg_dict ) }}
{%- endmacro %}

{% macro find_round_link(arg_dict) -%}
  {{ link_with_text("/find_round", get_localization("find_round_button"), arg_dict ) }}
{%- endmacro %}

{% macro login_link(arg_dict) -%}
  {{ link_with_text("/login", get_localization("log_in_button"), arg_dict ) }}
{%- endmacro %}

{% macro logout_link(arg_dict) -%}
  {{ link_with_text("/logout", get_localization("log_out_button"), arg_dict ) }}
{%- endmacro %}

{% macro register_link(arg_dict) -%}
  {{ link_with_text("/register", get_localization("register_button"), arg_dict ) }}
{%- endmacro %}

{% macro user_link(user_id, username) -%}
  {{ link_with_text("/user/{}".format(user_id), username) }}
{%- endmacro %}

{% macro course_link(course_id, text) -%}
  {{ link_with_text("/course/{}".format(course_id), text) }}
{%- endmacro %}

{% macro round_link(round_id, text) -%}
  {{ link_with_text("/round/{}".format(round_id), text) }}
{%- endmacro %}

{% macro hole_link(round_id, player_id, hole_num, text) -%}
  {{ link_with_text("/hole/{}/{}/{}".format(round_id, player_id, hole_num), text, {"class":"nounderline_inherit_color"}) }}
{%- endmacro %}

{% macro return_to_course_view_link(course_id) -%}
  {{ course_link(course_id, get_localization("return_to_course_page_button") ) }}
{%- endmacro %}

{% macro return_to_round_view_link(round_id) -%}
  {{ round_link(round_id, get_localization("return_to_round_page_button") ) }}
{%- endmacro %}

{% macro course_list_item(course) -%}
  <div class="course_item">
    <a href="{{ '/course/{}'.format(course.id) }}" class="nounderline">
      {{ course["coursename"] }}
      <br />
      {{ get_localization("course_item_num_holes") }} {{ course.num_holes }}
    </a>
  </div>
{%- endmacro %}

{% macro course_info(course) -%}
  {{ course.coursename }}, {{ get_localization("course_item_num_holes") }} {{ course.num_holes }}
{%- endmacro %}

{% macro round_start_with_header(start_time) -%}
  {{ get_localization("round_item_start") }} {{ utilities.format_date_from_iso(start_time) }}
{%- endmacro %}

{% macro round_course_with_header(coursename) -%}
  {{ get_localization("round_item_place") }} {{ coursename }}
{%- endmacro %}

{% macro round_username_with_header(username) -%}
  {{ get_localization("round_item_creator") }} {{ username }}
{%- endmacro %}

{% macro round_num_participating_with_header(num_participating, num_players) -%}
  {{ get_localization("round_item_players") }} {{ "{} / {}".format(num_participating, num_players) }}
{%- endmacro %}

{% macro round_list_item(round) -%}
  <div class="round_item">
    <a href="{{ '/round/{}'.format(round.id) }}" class="nounderline">
      {{ round_start_with_header(round.start_time) }}
      <br />
      {{ round_course_with_header(round.coursename) }}
      <br />
      {{ round_username_with_header(round.username) }}
      <br />
      {{ round_num_participating_with_header(round.num_participating, round.num_players) }}
      <br />
    </a>
  </div>
{%- endmacro %}

{% macro round_info(round) -%}
  {{ round_start_with_header(round.start_time) }}
  {{ round_course_with_header(round.coursename) }}
  {{ round_username_with_header(round.participators[round.creator_id]) }}
  {{ round_num_participating_with_header(round.participators.keys() |length, round.num_players) }}
{%- endmacro %}

{% macro page_navigation_back(link) -%}
  <a href="{{ link }}">&lt;&lt;</a>
{%- endmacro %}

{% macro page_navigation_page_count(page, page_count) -%}
  {{ get_localization("page_navigation_page") }} {{ page }}/{{ page_count }}
{%- endmacro %}

{% macro page_navigation_forward(link) -%}
  <a href="{{ link }}">&gt;&gt;</a>
{%- endmacro %}

{% macro page_navigation(page, page_count, handler) -%}
  <p>
    {{ page_navigation_back(url_for(handler, page=page - 1)) }}
    {{ page_navigation_page_count(page, page_count) }}
    {{ page_navigation_forward(url_for(handler, page=page + 1)) }}
  </p>
{%- endmacro %}

{% macro custom_href_page_navigation(link_back, link_forward, page, page_count) -%}
  <p>
    {{ page_navigation_back(link_back) }}
    {{ page_navigation_page_count(page, page_count) }}
    {{ page_navigation_forward(link_forward) }}
  </p>
{%- endmacro %}

{% macro round_score_board(round, round_results, navigatable_results) -%}
  <p>
    <table>
      <thead class="results">
        <tr>
          <th scope="col">{{ get_localization("hole").capitalize() }}</th>
          {% for id, name in round["participators"].items() %}
            <th scope="col">
              {{ user_link(id, name) }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody class="results">
        {% for i in range(1, 1 + round.num_holes|int) %}
          <tr>
            <th scope="row">
              {{ i|string }}
            </th>
            {% for id in round["participators"].keys() %}
              {% set hole_result = round_results[id][i]["result"] if i in round_results[id] else "-" %}
              {% set result_class = "" if hole_result == "-" else utilities.get_type_for_result(hole_result, round.hole_data[i|string]["par"]|int) %}
              <td class="{{ result_class }}">
                {% if navigatable_results %}
                  {{ hole_link(round.id, id, i, hole_result) }}
                {% else %}
                  {{ hole_result }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr>
          <th scope="row">{{ get_localization("total_header") }}</th>
          {% for id in round["participators"].keys() %}
            {% set total_result = round_results[id]["total"] if "total" in round_results[id] else "-" %}
            <td>{{ total_result }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th scope="row">{{ get_localization("over_under_header") }}</th>
          {% for id in round["participators"].keys() %}
            {% set total_result = round_results[id]["total"] if "total" in round_results[id] else "-" %}
            {% set par = utilities.get_round_over_under_string(round_results[id], round.hole_data) %}
            <td>{{ par }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </p>
{%- endmacro %}

{% macro course_hole_information(num_holes, hole_data) -%}
  <h3>{{ get_localization("course_information_header") }}</h3>
  <p>
    <table>
      <thead>
        <th scope="col">{{ get_localization("hole").capitalize() }}</th>
        <th scope="col">{{ get_localization("par").capitalize() }}</th>
        <th scope="col">{{ get_localization("hole_length").capitalize() }}</th>
      </thead>
      <tbody>
        {% for i in range(1, 1 + num_holes|int) %}
          <tr>
            <th scope="row">
              {{ i|string }}
              <td>{{ hole_data[i|string]["par"] }}</td>
              <td>{{ hole_data[i|string]["length"] }}</td>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
{%- endmacro %}
