{% extends "layout.html" %}
{% block title %}
    {{ get_localization("delete_round_header") }}
{% endblock title %}
{% block content %}
    <h2>{{ components.round_info(round) }}</h2>
    <h3>{{ get_localization("delete_round_header") }}</h3>
    <form action="{{ url_for('delete_round', round_id=round.id) }}"
          method="post">
        <p>{{ get_localization("delete_round_are_you_sure") }}</p>
        {{ components.submit_button_with_localized_text("delete_round_button", name="remove") }}
        {{ components.submit_button_with_localized_text("return_button", name="return") }}
        {{ components.csrf_token_input() }}
    </form>
{% endblock content %}
