{% extends "layout.html" %}

{% block title %}{{ get_localization("modify_holes_header") }}{% endblock %}

{% block content %}
    <h2>{{ get_localization("modify_holes_header") }}</h2>
    {{ components.round_link(round.id, get_localization("return_to_round_page_button")) }}
    <form action="/update_round_full" method="post">
        <p>
            {{ get_localization("course_name_header") }} <br />
            <input inert type="text" value="{{round.coursename}}" name="coursename" />
        </p>
        <p>
            {{ get_localization("course_holes_header") }} <br />
            <input inert type="text" value="{{round.num_holes}}" name="num_holes" />
        </p>
        {% for i in range(1, 1 + round.num_holes|int) %}
            <p>
                {{ get_localization("hole_header").format(i) }} <br />
                {{ get_localization("par_header") }} <br />
                {% set par_val = round.hole_data[i|string]["par"] if i <= round.hole_data|length else constants.hole_par_default %}
                <input
                type="number"
                value="{{par_val}}"
                min="{{constants.hole_par_min}}"
                max="{{constants.hole_par_max}}"
                oninput="this.value = Math.min('{{constants.hole_par_max}}', Math.max(this.value|0, '{{constants.hole_par_min}}'))"
                name="par_{{i}}"
                /><br />
                {{ get_localization("hole_length_header") }} <br />
                {% set length_val = round.hole_data[i|string]["length"] if i <= round.hole_data|length else constants.hole_length_default %}
                <input
                type="number"
                value="{{length_val}}"
                min="{{constants.hole_length_min}}"
                max="{{constants.hole_length_max}}"
                oninput="this.value = Math.min('{{constants.hole_length_max}}', Math.max(this.value|0, '{{constants.hole_length_min}}'))"
                name="length_{{i}}"
                /><br />
            </p>
        {% endfor %}
        <input type="submit" value="{{ get_localization('submit_changes_button') }}" />
        <input type="hidden" name="id" value="{{ round.id }}" />
        <input type="hidden" name="start_time" value="{{ round.start_time }}" />
        <input type="hidden" name="num_players" value="{{ round.num_players }}" />
    </form>
{% endblock %}
