{% extends "layout.html" %}
{% block title %}
  {{ get_localization("find_course_header") }}
{% endblock title %}
{% block content %}
  {% if session.user_id %}
    <h2>{{ get_localization("find_course_header") }}</h2>
    <small>{{ get_localization("find_course_instruction") }}</small>
    <form action="{{ url_for('find_course') }}" method="get">
      <p>{{ components.find_course_datalist(courses, course_query) }}</p>
      <p>{{ components.course_holes_input_no_forced_value("find_by_num_holes_header", {"value": num_holes_query, "min":constants.course_holes_min,"max":constants.course_holes_max}) }}</p>
      <p>{{ components.find_by_course_difficulty(selections.course_difficulty, difficulty_query) }}</p>
      <p>{{ components.find_by_course_type(selections.course_type, type_query) }}</p>
      {{ components.submit_button_with_localized_text("submit_search_button") }}
    </form>
    {% if arginput %}
      <h3>{{ get_localization("search_results_header") }}</h3>
      {% for result in results %}{{ components.course_list_item(result) }}{% endfor %}
      {% if results|length == 0 %}
        {{ get_localization("no_search_results_message") }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock content %}
{% block page_navigation %}
  <form action="{{ url_for('find_course') }}" method="get">
    {{ components.formaction_button("<<", url_for("find_course", page=page - 1)) }}
    {{ get_localization("page_navigation_page") }} {{ page }}/{{ page_count }}
    {{ components.formaction_button(">>", url_for("find_course", page=page + 1)) }}
    {{ components.hidden_input("coursename", course_query) }}
    {{ components.hidden_input("num_holes", num_holes_query) }}
    {{ components.hidden_input("difficulty_select", "") }}
    {{ components.hidden_input("type_select", "") }}
  </form>
{% endblock page_navigation %}
