<!DOCTYPE html>
<html>

<head>
  <title>Frisbeegolflaskuri</title>
</head>

<body>
  <h1>Frisbeegolflaskuri</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/new_course">Lisää rata</a>
  </p>
  <p>
    <a href="/new_round">Lisää kierros</a>
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}
</body>

</html>
