<!DOCTYPE html>
<html>
  {% import "components.html" as components with context %}
  <head>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <h1>{{ get_localization("main_header") }}</h1>
    {% set a_args = {"class":"nounderline_inherit_color"}  %}
    {% if session.user_id %}
      <p>{{ get_localization("logged_in") }} {{ components.user_link(session.user_id, session.username) }}</p>
      <nav>
        <div>
          <ul class="nav">
            {{ components.nav_bar_item("nav_index", "index", url_for("index"), "return_to_index_button", a_args) }}
            {{ components.nav_bar_item("nav_new_course", "new_course", url_for("new_course"), "create_course_button", a_args) }}
            {{ components.nav_bar_item("nav_find_course", "find_course", url_for("find_course"), "search_courses_button", a_args) }}
            {{ components.nav_bar_item("nav_new_round", "new_round", url_for("new_round"), "create_round_button", a_args) }}
            {{ components.nav_bar_item("nav_find_round", "find_round", url_for("find_round"), "find_round_button", a_args) }}
            {{ components.nav_bar_item("nav_logout", "logout", url_for("logout"), "log_out_button", a_args) }}
          </ul>
        </div>
      </nav>
    {% else %}
      <nav>
        <div>
          <ul class="nav">
            {{ components.nav_bar_item("nav_index", "index", url_for("index"), "return_to_index_button", a_args) }}
            {{ components.nav_bar_item("nav_login", "login", url_for("login"), "log_in_button", a_args) }}
            {{ components.nav_bar_item("nav_register", "register", url_for("register"), "register_button", a_args) }}
          </ul>
        </div>
      </nav>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="{{ category }}">
            <b>{{ message }}</b>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock content %}
    {% if page_count and page_count > 1 %}
      {% block page_navigation %}
      {% endblock page_navigation %}
    {% endif %}
  </body>
</html>
