<!DOCTYPE html>
<html>

<head>
  <title>Uusi kierros</title>
</head>

<body>
  {% if session.username %}
  <h1>Uusi kierros</h1>
  <form action="/create_round" method="post">
    <p>
      Valitse rata: <br />
      <select name="course_select">
        <option hidden selected value="">--Valitse rata--</option>
        {% for course in courses %}
          <option value="{{ course.id }}">{{ course.coursename }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Aloitusaika: <br />
      <input
        type="datetime-local"
        value="{{ date }}"
        name="start_time"
      />
    </p>
    <p>
      Pelaajien määrä: <br />
      <input
        type="number"
        name="num_players"
        value="{{constants.round_min_players}}"
        min="{{constants.round_min_players}}"
        max="{{constants.round_max_players}}"
        oninput="this.value = Math.min('{{constants.round_max_players}}', Math.max(this.value|0, '{{constants.round_min_players}}'))"
      />
    </p>
    <input type="submit" value="Lisää kierros" />
  </form>
  {% endif %}
</body>

</html>
