{% extends "layout.html" %}

{% block title %}{{ get_localization("new_course_header") }}{% endblock title %}

{% block content %}
    {% if session.user_id %}
        <h2>{{ get_localization("new_course_header") }}</h2>
        <form action="/create_course" method="post">
            <p>
                {{ components.course_name_input() }}
            </p>
            <p>
                {{ components.course_holes_input() }}
            </p>
            <p>
                {{ components.course_difficulty_select(selections.course_difficulty, True) }}
            </p>
            <p>
                {{ components.course_type_select(selections.course_type, True) }}
            </p>
            {{ components.submit_button_with_localized_text("next_button") }}
            {{ components.csrf_token_input() }}
        </form>
    {% endif %}
{% endblock content %}