<!DOCTYPE html>
<html>

<head>
  <title>Uusi kierros</title>
</head>

<body>
  {% if session.username %}
  <h1>Uusi kierros</h1>
  <form action="/create_round" method="post">
    <p>
      Valitse rata: <br />
      <select name="course_select">
        <option value="">--Valitse rata--</option>
        {% for course in courses %}
        <option value="{{ course[0] }}">{{ course[1] }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Aloitusaika: <br />
      <input type="datetime-local" value="{{ date }}" name="start_time" />
    </p>
    <p>
      Pelaajien määrä: <br />
      <input type="number" value="1" min="1" oninput="this.value = Math.max(this.value|0, 1)" name="num_players" />
    </p>
    <input type="submit" value="Lisää kierros" />
  </form>
  {% endif %}
</body>

</html>
