<!DOCTYPE html>
<html>

<head>
  <title>Lisää väylien tiedot</title>
</head>

<body>
  {% if session.username %}
  <h1>Lisää väylien tiedot</h1>
  <form action="/create_holes" method="post">
    <p>
      {{ get_localization("course_name_header") }} <br />
      <input inert type="text" value={{course.coursename}} name="coursename" />
    </p>
    <p>
      {{ get_localization("course_holes_header") }} <br />
      <input inert type="text" value={{course.num_holes}} name="num_holes" />
    </p>
    <p>
      {{ get_localization("course_difficulty_header") }} <br />
      <select inert name="difficulty_select">
        <option value="{{ course.difficulty_select[0] }},{{ course.difficulty_select[1] }}">{{ get_localization(course.difficulty_select[1]) }}</option>
      </select>
    </p>
    <p>
      {{ get_localization("course_type_header") }} <br />
      <select inert name="type_select">
        <option value="{{ course.type_select[0] }},{{ course.type_select[1] }}">{{ get_localization(course.type_select[1]) }}</option>
      </select>
    </p>
    {% for i in range(1, 1 + course.num_holes|int) %}
      <p>
        Väylä {{i}}: <br />
        Par: <br />
        <input
          type="number"
          value="{{constants.hole_par_default}}"
          min="{{constants.hole_par_min}}"
          max="{{constants.hole_par_max}}"
          oninput="this.value = Math.min('{{constants.hole_par_max}}', Math.max(this.value|0, '{{constants.hole_par_min}}'))"
          name="par_{{i}}"
        /><br />
        Pituus (m): <br />
        <input
          type="number"
          value="{{constants.hole_length_default}}"
          min="{{constants.hole_length_min}}"
          max="{{constants.hole_length_max}}"
          oninput="this.value = Math.min('{{constants.hole_length_max}}', Math.max(this.value|0, '{{constants.hole_length_min}}'))"
          name="length_{{i}}"
        /><br />
      </p>
    {% endfor %}
    <input type="submit" value="Lisää rata" />
  </form>
  {% endif %}
</body>

</html>
