{% extends "layout.html" %}

{% block title %}{{ get_localization("register_header") }}{% endblock %}

{% block content %}
    {% if not session.user_id %}
        <form action="/create" method="post">
            <p>
                {{ components.account_name_input() }}
            </p>
            <p>
                {{ components.password_input() }}
            </p>
            <p>
                {{ components.repeat_password_input() }}
            </p>
            {{ components.submit_button_with_text(get_localization("register_button")) }}
        </form>
    {% endif %}
{% endblock %}
