<!DOCTYPE html>
<html>

<head>
  <title>{{ get_localization("register_header") }}</title>
</head>

<body>
  {% if session.username %}
    <p>
      {{ get_localization("logged_in") }} {{ session.username }}
    </p>
    <p>
      <a href="/logout">{{ get_localization("log_out_button") }}</a>
    </p>
  {% else %}
    <form action="/create" method="post">
      <p>
        {{ get_localization("account_name_header") }} <br />
        <input
          type="text"
          name="username"
          required
          minlength="{{constants.username_minlength}}"
          maxlength="{{constants.username_maxlength}}"
        />
      </p>
      <p>
        {{ get_localization("password_header") }} <br />
        <input
          type="password"
          name="password1"
          required
          minlength="{{constants.password_minlength}}"
          maxlength="{{constants.password_maxlength}}"
        />
      </p>
      <p>
        {{ get_localization("repeat_password_header") }} <br />
        <input
          type="password"
          name="password2"
          required
          minlength="{{constants.password_minlength}}"
          maxlength="{{constants.password_maxlength}}"
        />
      </p>
      <input type="submit" value="{{ get_localization('register_button') }}" />
    </form>
  {% endif %}
</body>

</html>
