<!DOCTYPE html>
<html>

<head>
  <title>{{ get_localization("register_header") }}</title>
</head>

<body>
  {% if session.username %}
    <p>
      {{ get_localization("logged_in") }} {{ session.username }}
    </p>
    <p>
      <a href="/logout">{{ get_localization("log_out_button") }}</a>
    </p>
  {% else %}
    <p>
      {{ get_localization("registered_message") }}
    </p>
    <p>
      <a href="/">{{ get_localization("return_to_index_button") }}</a>
    </p>
  {% endif %}
</body>

</html>
