{% extends "layout.html" %}
{% block title %}
  {{ get_localization("round_information_header") }}
{% endblock title %}
{% block content %}
  <h2>{{ round.coursename }}</h2>
  {% if session.user_id == round.creator_id %}
    <p>
      <a href="{{ url_for('edit_round', round_id=round.id) }}" class="button_neutral">
        {{ get_localization("modify_button") }}
      </a>
      <a href="{{ url_for('delete_round', round_id=round.id) }}" class="button_negative">
        {{ get_localization("delete_button") }}
      </a>
    </p>
  {% endif %}
  <div class="round_info">
    {{ get_localization("round_item_creator") }}
    {{ components.user_link(round.creator_id, round.participators[round.creator_id]) }}<br />
    {{ components.round_start_with_header(round["start_time"]) }}<br />
    {{ get_localization("round_item_players_participating") }}
    {{ round.participators.keys() |length }} / {{ round.num_players }}
  </div>
  {% set participating = session.user_id in round.participators.keys() %}
  {% if participating %}
    <a
      href="{{ url_for('show_hole', round_id=round.id, player_id=session.user_id, hole_num=1) }}"
      class="button_neutral"
    >
      {{ get_localization("start_round_button") }}
    </a>
  {% endif %}
  {{ components.round_participations(round.participators) }}
  {% if not participating and round.participators.keys()|length < round.num_players %}
    <form action="{{ url_for('round_sign_up') }}" method="post">
      <button class="positive" type="submit" name="participate_button" id="participate_button">
        {{ get_localization("round_sign_up_button") }}
      </button>
      {{ components.hidden_input("round_id", round.id) }}
      {{ components.csrf_token_input() }}
    </form>
  {% elif session.user_id != round.creator_id and participating %}
    <form action="{{ url_for('round_unparticipate') }}" method="post">
      <button class="negative" type="submit" name="unparticipate_button" id="unparticipate_button">
        {{ get_localization("round_unparticipate_button") }}
      </button>
      {{ components.hidden_input("round_id", round.id) }}
      {{ components.csrf_token_input() }}
    </form>
  {% endif %}
  {% if round_results %}
    <h3>{{ get_localization("round_view_score_board_header") }}</h3>
    {{ components.round_score_board(round, round_results, participating) }}
  {% endif %}
  {{ components.course_hole_information(round.num_holes, round.hole_data) }}
{% endblock content %}
