<!DOCTYPE html>
<html>

<head>
  <title>{{ get_localization("round_information_header") }}</title>
</head>

<body>
  <h1>{{ round.coursename }}</h1>
  {% if session.user_id == round.user_id %}
    <p>
      {{ components.edit_round_link(round.id) }}
      {{ components.delete_round_link(round.id) }}
    </p>
  {% endif %}
  <p>
    {{ get_localization("round_item_creator") }} <a href="/user/{{ round.user_id }}">{{round.username}}</a>
  </p>
  <p>{{ get_localization("round_item_start") }} {{round.start_time}}</p>
  <p>{{ get_localization("round_item_players_participating") }} {{round.num_participating}} / {{round.num_players}}</p>
  <p>{{ get_localization("course_item_num_holes") }} {{round.num_holes}}</p>
  {% for i in range(1, 1 + round.num_holes|int) %}
    <p>
      {{ get_localization("hole_header").format(i) }} <br />
      {{ get_localization("par_header") }} <br />
      {{round.hole_data[i|string]["par"]}}<br />
      {{ get_localization("hole_length_header") }} <br />
      {{round.hole_data[i|string]["length"]}}<br />
    </p>
  {% endfor %}
  <p>
    {{ components.return_to_index_link() }}
  </p>
</body>

</html>
